.body {
	border: 1px solid #513e0e;
	width: 700px;
}
.top {
	border-bottom: 1px solid #513e0e;
	&:last-child{
		border-bottom: none; 
	}

	h3{ 
		background-color: #c7a769;
		margin: 0;
	}
	
	p {
		margin: 3px;
		transition: all 1s;
		overflow: hidden;
		max-height: 170px;
	}

	&.bottom {
		p {
			max-height: 0;
			padding: 0;
		}
	}
}
	




